name: Tag and Release on Main

on:
  push:
    branches:
      - main

jobs:

  publish-package:
    uses: 'parkerstovall/workflows/.github/workflows/Publish_NPM.yaml@main'
    with:
      package_directory: packages/pac-man-map-generator
    secrets:
      npm_token: ${{ secrets.NPM_AUTH_TOKEN }}

  update-pac-man-repo:
    if: ${{ needs.publish-package.outputs.created_tag == 'true' }}
    uses: 'parkerstovall/workflows/.github/workflows/Push_PackageUpdate.yaml@main'
    needs: publish-package
    with:
      package_directory: packages/pac-man
      repo: 'parkerstovall/pac-man'
      package_name: 'pac-man-map-generator'
    secrets:
      repo_token: ${{ secrets.CROSS_REPO_TOKEN }}